.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 10px;
  }
  
  .digit {
    font-size: 2rem;
    min-width: 50px;
    text-align: center;
    border-radius: 10px;
  }
  